.product-list-grid {
  display: grid;
  gap: 20px;

  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

@media (max-witdth: 992px) {
  .product-list-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .product-list-grid {
    grid-template-columns: 1fr;
  }
}
